@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #f6f6f6;
  min-height: 100vh;
  margin: 0;
}

/* Home */

/* Header */
header {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.head_logo {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  text-shadow: 1px 1px 1px rgb(106, 106, 106);
}

.head_category {
  list-style: none;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}

.head_right-wrapper {
  display: flex;
  align-items: center;
}

.temp_btn {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
}

/* .head_login {
  width: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* Dropdown */
.Dropdown {
  position: absolute;
  right: 1rem;
  top: 4rem;
  list-style: none;
  background-color: white;
  color: black;
  width: 8rem;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0.25rem 0.75rem 0.75rem 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.813rem;
}

/* WeatherAPI */
.WeatherIcon_wrapper {
  padding: 0.5rem;
  margin: 0 auto;
  font-size: 1.75rem;
}

/* DustAPI */
/* .DustAPI {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

/* Card */
/* .Card {
  font-size: 0.625rem;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 5px;
}

.Card_value {
  margin-top: 0.5rem;
} */

/* Phrase */
.Phrase {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 8rem 2rem;
}

.Phrase_text,
.Phrase_writer {
  text-align: center;
}

.Phrase_writer {
  margin-top: 1.3rem;
  font-size: 1rem;
}
